@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--font-montserrat: "Montserrat", "Arial", "Helvetica", sans-serif;
	--font-inter: "Inter", "Arial", "Helvetica", sans-serif;
} */

html {
	scroll-behavior: smooth;
}

body {
	overflow-y: scroll;
}

* {
	padding: 0px;
	margin: 0px;
	/* border: none; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type="file"] {
	max-width: 100%;
}

/* Классы для разных начертаний */
.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-inter {
  font-family: var(--font-inter);
}

.docs-header {
	font-family: var(--font-montserrat);
	font-size: 16px;
	line-height: 22px;
	color: #000;
	font-weight: 500;
}

.docs-text {
	font-family: var(--font-inter);
	color: #95a0a7;
	font-size: 14px;
	line-height: 22.8px;
	font-weight: 400;
}

.table-header {
	font-family: var(--font-montserrat);
	color: #95a0a7;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	padding: 14px 0;
}

.table-text {
	font-family: var(--font-inter);
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align: center;
	color: #000000;
}

.button-gradient {
	position: relative;
	overflow: hidden;
	z-index: 0;
	color: #fff;
	cursor: pointer;

	background: linear-gradient(
		90deg,
		#399ad1 0%,
		#a939d1 31.25%,
		#b7499b 53.37%,
		#d26739 100%
	);
}

.button-gradient::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background: linear-gradient(89.76deg, #4095d2 0%, #aa39d2 82.69%);
	opacity: 0;
	transition: opacity 0.4s ease;
	z-index: -1;
}

.button-gradient:hover::before {
	opacity: 1;
}

.button-gradient > * {
	position: relative;
	z-index: 1;
}

.active-icon path {
	fill: #000;
}

.active-icon-ton path {
	fill: #00c8ff;
	stroke: #00c8ff;
}

.active-icon-premium path {
	fill: #8b5cf6;
	stroke: #8b5cf6;
}

.active-icon-premium-stroke path {
	stroke: #8b5cf6;
}

.inactive-icon path {
	fill: #808080;	
}

.active-icon-gold path {
	fill: #facc15;
}

.header-active-icon path {
	fill: #fff;
}
.active-icon-stroke path {
	stroke: #000;
}

.inactive-icon-stroke path {
	stroke: #808080;
}

.pink-icon path {
	fill: #8d00d0;
}

.white-icon path {
	fill: #fff;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 670px;
	width: 100%;
}

@media (max-width: 800px) {
	.container {
		padding: 0 16px;	
	}
}

.table {
	width: 100%;
	display: grid;
	grid-template-columns: 93px 118px 1fr 1fr 105px;
}

.embla {
	overflow: hidden;
}

.embla__container {
	display: flex;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.embla__slide {
	position: relative;
	flex: 0 0 auto;
	min-width: 0;
}

.avatar-wrapper {
	position: relative;
	width: 40px;
	height: 40px;
}

.avatar-wrapper::before {
	content: "";
	position: absolute;
	inset: -6px; /* размер свечения */
	border-radius: 50%;
	background: radial-gradient(
		circle,
		rgba(128, 0, 255, 0.5),
		rgba(255, 0, 128, 0.4),
		transparent 70%
	);
	filter: blur(8px);
	z-index: 0;
}

.avatar {
	position: relative;
	border-radius: 50%;
	object-fit: cover;
	z-index: 1;
}

.shadow-cus {
	box-shadow: 0px 8px 10px -6px #0000000d;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.skip-link {
	position: absolute;
	left: -9999px;
}
.skip-link:focus {
	left: 10px;
	top: 10px;
	z-index: 9999;
}
