@import url("../shared/styles/reset.css");
@import url("../shared/styles/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body{
	overflow-y: scroll;
}


.button-gradient {
	position: relative;
	overflow: hidden;
	z-index: 0;
	color: #fff;
	cursor: pointer;

	background: linear-gradient(
		90deg,
		#399ad1 0%,
		#a939d1 31.25%,
		#b7499b 53.37%,
		#d26739 100%
	);
}

.button-gradient::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;

	background: linear-gradient(89.76deg, #4095d2 0%, #aa39d2 82.69%);

	opacity: 0;
	transition: opacity 0.4s ease;
	z-index: -1;
}

.button-gradient:hover::before {
	opacity: 1;
}

.button-gradient > * {
	position: relative;
	z-index: 1;
}

.active-icon path {
	fill: #000;
}

.active-icon-ton path {
	fill: #00c8ff;
	stroke: #00c8ff;
}

.active-icon-premium path {
	fill: #8b5cf6;
	stroke: #8b5cf6;
}

.active-icon-premium-stroke path {
	stroke: #8b5cf6;
}

.inactive-icon path {
	fill: #808080;
	/* fill: #374151; */
}

.active-icon-gold path {
	fill: #facc15;
}

.header-active-icon path {
	fill: #fff;
}
.active-icon-stroke path {
	stroke: #000;
}

.inactive-icon-stroke path {
	stroke: #808080;
}

.pink-icon path {
	fill: #8d00d0;
}

.white-icon path {
	fill: #fff;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* gap: 50px; */
	max-width: 670px;
	width: 100%;
}

@media (max-width: 800px) {
	.container {
		padding: 0 16px;
		/* gap: 32px; */
	}
}

.table {
	width: 100%;
	display: grid;
	grid-template-columns: 93px 118px 1fr 1fr 105px;
}

.embla {
	overflow: hidden;
}

.embla__container {
	display: flex;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.embla__slide {
	position: relative;
	flex: 0 0 auto;
	min-width: 0;
}


.avatar-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.avatar-wrapper::before {
  content: "";
  position: absolute;
  inset: -6px; /* размер свечения */
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(128, 0, 255, 0.5),
    rgba(255, 0, 128, 0.4),
    transparent 70%
  );
  filter: blur(8px);
  z-index: 0;
}

.avatar {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}


.shadow-cus {
	box-shadow: 0px 8px 10px -6px #0000000D;
}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}.skip-link{position:absolute;left:-9999px}.skip-link:focus{left:10px;top:10px;z-index:9999}
